# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Prisma
*.db
*.db-journal

# Certificados (NUNCA commitear)
*.cer
*.key
*.pfx
*.p12
.env.certificados
